<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Calorie and BMI Calculator for Weight </title>
	
    

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1>Calorie and BMI Calculator</h1>
<h2><center><p>Helping you loose weight by putting you at a calorie defict ! </center></p></h2>

<body>

<div class="main">
	<form class="pure-form" method="POST" action="/">
	<strong>Enter your calorie intake in breakfast:</strong><br>
	                    <br>
    <input type="text" name="bfast"><br>
	<br>
	<strong> Enter your calorie intake in lunch:</strong><br>
	<br>
    <input type="text" name="lunch"><br>
	<br>
	<strong>Enter your calorie intake in dinner:</strong><br>
	<br>
    <input type="text" name="dinner"><br>
	<br>
	<strong>Enter your weight in kgs:</strong><br>
	<br>
	<input type="text" name="weight"><br>
	<br>
	<strong>Enter your height in cms:</strong><br>
	<br>
    <input type="text" name="height"><br>
	<br>
    
	<button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
	</form>
</div>

<br>

<div class="main">
	{% if bmi %}
	    <p><strong><h2>
        {% print("Your BMI is {}.".format(bmi)) %}
        </strong>
        </p></h2>
	{% endif %}
	{% if cal%}
		<p>
		{% print("calories is {}.".format(cal))%}
		</p>
	{% endif %}
	{% if calloss%}
	   <p><strong><h2>
	   {% print("The number of calories you can consume for the day now is  {}	".format(calloss)) %}
       </strong>
       </p></h2>
	{% endif %}

</div>

</body>
